*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background: #000000;
}
.logo{

    font-family: "Baloo Paaji 2", sans-serif;
    color:#bbacf2;
    font-size: 70px;
    font-weight: 800;
    line-height: 151.1px;

}