@media (width<=1260px) {
    .rightSidebar {
        display: none;
    }

    .postsContainer {
        margin-left: 0;
        width: 100%;
    }

    .postCard {
        min-width: none;
    }

    .leftSidebarLabel {
        display: none;
    }

    .leftSidebarVertical {
        width: 10%;
    }
}

@media (width<=640px) {
    /* .leftSidebar {
        display: none;
    } */

    .navbar {
        padding-block: 10px;
    }
}